v0/n8n-workflow.json
{
  "name": "Antigravity Lead Machine — Daily Scan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Daily 9AM WAT Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "Fires daily at 08:00 UTC = 09:00 WAT (UTC+1)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "niches = ['restaurant', 'salon', 'gym', 'hotel', 'clinic', 'bakery', 'pharmacy', 'car wash', 'laundry', 'boutique']\nlocations = ['Abuja', 'Lagos']\ncombos = []\nfor niche in niches:\n  for loc in locations:\n    combos.append({\n      \"json\": {\n        \"niche\": niche,\n        \"location\": loc,\n        \"query\": f\"{niche} in {loc}\"\n      }\n    })\nreturn combos"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Build Niche × Location Combos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Loop Through Combos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/places",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.SERPER_API_KEY || '4aca297c0acbff6fa9d6c89e18395fca6bcc828b' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Serper Places API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "notes": "Calls Serper Places API via POST. Replace API key in .env"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import datetime\ninput_item = _input.first().json\nresults = input_item.get('places', [])\nloop_node = _('Loop Through Combos').first().json\nniche = loop_node.get('niche')\nlocation = loop_node.get('location')\n\nleads = []\nfor biz in results:\n  lead = {\n    \"name\": biz.get('title') or biz.get('name') or 'Unknown',\n    \"phone\": biz.get('phoneNumber') or 'N/A',\n    \"address\": biz.get('address') or 'N/A',\n    \"niche\": niche,\n    \"website\": biz.get('website') or '',\n    \"mapsUrl\": f\"https://www.google.com/maps/place/?q=place_id:{biz.get('cid')}\" if biz.get('cid') else '',\n    \"date\": datetime.datetime.now().strftime('%Y-%m-%d'),\n    \"status\": 'New'\n  }\n  lead['enrichUrl'] = lead['website'] if lead['website'] and len(lead['website']) > 5 else lead['mapsUrl']\n  leads.append({ \"json\": lead })\n\nif not leads:\n  return [{ \"json\": { \"_empty\": True, \"niche\": niche, \"location\": location } }]\n\nreturn leads"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Extract Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Remove Empty Results",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID || 'YOUR_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Leads"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Read Existing Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        220
      ],
      "notes": "Reads existing leads to check for duplicates by phone number"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "new_leads = _('Remove Empty Results').all()\nexisting_rows = _('Read Existing Leads').all()\n\nexisting_phones = set()\nfor row in existing_rows:\n  phone = row.json.get('Phone')\n  if phone:\n    existing_phones.add(str(phone).strip())\n\nunique_leads = []\nfor lead in new_leads:\n  phone = str(lead.json.get('phone', '')).strip()\n  if phone == 'N/A' or phone not in existing_phones:\n    unique_leads.append(lead)\n    if phone != 'N/A':\n      existing_phones.add(phone)\n\nif not unique_leads:\n  return [{ \"json\": { \"_noNewLeads\": True, \"count\": 0 } }]\n\nreturn unique_leads"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Deduplicate by Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-no-new",
              "leftValue": "={{ $json._noNewLeads }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Has New Leads?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GOOGLE_SHEET_ID || 'YOUR_SHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Phone": "={{ $json.phone }}",
            "Address": "={{ $json.address }}",
            "Niche": "={{ $json.niche }}",
            "Website": "={{ $json.website }}",
            "Date": "={{ $json.date }}",
            "Status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import datetime\nitems = _input.all()\ncount = len(items)\ntoday = datetime.datetime.now().strftime('%Y-%m-%d')\nsheet_id = _env.get('GOOGLE_SHEET_ID', 'YOUR_SHEET_ID')\nsheet_url = f\"https://docs.google.com/spreadsheets/d/{sheet_id}/edit\"\n\nmessage = f\"\"\"🔥 Antigravity Lead Machine — {today}\\n\\n✅ {count} new leads found!\\n\\n📊 View sheet: {sheet_url}\\n\\n🏙️ Cities: Abuja, Lagos\\n⏰ Next scan: Tomorrow 9:00 AM\"\"\"\n\nreturn [{\n  \"json\": {\n    \"count\": count,\n    \"date\": today,\n    \"sheetUrl\": sheet_url,\n    \"message\": message\n  }\n}]"
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID || 'YOUR_CHAT_ID' }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "Telegram: Daily Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2200,
        0
      ],
      "notes": "Sends daily lead count + sheet link to your Telegram",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "path": "lead-scan",
        "options": {}
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Webhook: Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        220
      ],
      "notes": "OpenClaw can hit this webhook to trigger a scan on demand"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/enrich/batch",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leads",
              "value": "={{ $input.all().map(i => ({ name: i.json.name, url: i.json.enrichUrl })) }}"
            },
            {
              "name": "callbackUrl",
              "value": "={{ $env.N8N_WEBHOOK_URL.split('/webhook/')[0] + '/webhook/enrich-complete' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "enrich-batch-request",
      "name": "Enrichment: Submit Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        220
      ]
    }
  ],
  "connections": {
    "Daily 9AM WAT Trigger": {
      "main": [
        [
          {
            "node": "Build Niche × Location Combos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Niche × Location Combos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Niche × Location Combos": {
      "main": [
        [
          {
            "node": "Loop Through Combos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Combos": {
      "main": [
        [
          {
            "node": "Serper Places API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Places API": {
      "main": [
        [
          {
            "node": "Extract & Filter No-Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Filter No-Website": {
      "main": [
        [
          {
            "node": "Remove Empty Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Empty Results": {
      "main": [
        [
          {
            "node": "Deduplicate by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Leads": {
      "main": [
        [
          {
            "node": "Deduplicate by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate by Phone": {
      "main": [
        [
          {
            "node": "Has New Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Leads?": {
      "main": [
        [
          {
            "node": "Append to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheets": {
      "main": [
        [
          {
            "node": "Enrichment: Submit Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment: Submit Batch": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Telegram: Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Antigravity",
      "id": "1"
    },
    {
      "name": "Lead Generation",
      "id": "2"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-03-23T02:00:00.000Z",
  "versionId": "1"
}